In [1]:
import pandas as pd

In [2]:
filename = '/Users/niki/Documents/255_final_project/ESC-50-master/esc50-human.xlsx'
xl_file = pd.ExcelFile(filename, header = True)
audio_data = xl_file.parse('Raw data')
#audio_data.columns = ['label','audio_file']
audio_data.head()

  CLASS_NAME        X_AUDIO  Y_CLASS
0   Airplane  1-11687-A.ogg        1
1   Airplane  1-24796-A.ogg        1
2   Airplane  1-36929-A.ogg        1
3   Airplane  1-43807-A.ogg        1
4   Airplane  1-43807-B.ogg        1

In [3]:
#removed = original.replace("M", "")
audio_list = []
for name in audio_data.X_AUDIO:
    #print(name)
    new_name = name.replace(".ogg","")
    #print(new_name)
    audio_list.append(new_name)
    
audio_data["X_audio1"]=pd.DataFrame(audio_list)
audio_data.head()

  CLASS_NAME        X_AUDIO  Y_CLASS   X_audio1
0   Airplane  1-11687-A.ogg        1  1-11687-A
1   Airplane  1-24796-A.ogg        1  1-24796-A
2   Airplane  1-36929-A.ogg        1  1-36929-A
3   Airplane  1-43807-A.ogg        1  1-43807-A
4   Airplane  1-43807-B.ogg        1  1-43807-B

In [4]:
import os

path = '/Users/niki/Documents/255_final_project/ESC-50-master/audio/'
audio_files = []

for filename in os.listdir(path):
    audio_files.append(filename)
#audio_files

In [5]:
keyboard = []
for j in audio_data['X_audio1']:
    for name in audio_files:
        if j in name:
            keyboard.append(name)

#print(keyboard)
audio_data["audio_files"]=pd.DataFrame(keyboard)


# audio_data.drop("X_AUDIO", axis=1, inplace=True)

audio_data.drop("X_audio1", axis=1, inplace=True)
audio_data.head()

  CLASS_NAME        X_AUDIO  Y_CLASS       audio_files
0   Airplane  1-11687-A.ogg        1  1-11687-A-47.wav
1   Airplane  1-24796-A.ogg        1  1-24796-A-47.wav
2   Airplane  1-36929-A.ogg        1  1-36929-A-47.wav
3   Airplane  1-43807-A.ogg        1  1-43807-A-47.wav
4   Airplane  1-43807-B.ogg        1  1-43807-B-47.wav

In [6]:
from __future__ import print_function
import pandas as pd
import numpy as np

# matplotlib for displaying the output
import matplotlib.pyplot as plt
import matplotlib.style as ms
ms.use('seaborn-muted')
%matplotlib inline

# and IPython.display for audio output
from IPython.display import Audio
# Librosa for audio
import librosa
# And the display module for visualization
import librosa.display

In [7]:
#i=0

x =path + str(audio_data['audio_files'][0])
y, sr = librosa.load(x)
f2=librosa.feature.zero_crossing_rate(y, frame_length=2048, hop_length=512, center=True)
log_f2 = pd.DataFrame(librosa.power_to_db(f2, ref=np.max))
d4=pd.DataFrame(log_f2)

In [8]:
for i in range(1,len(audio_data)):
    x1 =path + str(audio_data['audio_files'][i])
    y1, sr1 = librosa.load(x1)
    f3=librosa.feature.zero_crossing_rate(y1, frame_length=2048, hop_length=512, center=True)
    log_f3 = pd.DataFrame(librosa.power_to_db(f3, ref=np.max))
    d4=pd.concat([d4,log_f3],axis=0)

In [11]:
d4.head()

,0,1,2,3,4,5,6,7,8,9,...,206,207,208,209,210,211,212,213,214,215
0,-6.420233,-4.555912,-3.462575,-2.927575,-2.176928,-1.836130,-1.154972,-0.920161,-1.305426,-1.386757,...,-14.149733,-13.850101,-13.569814,-12.710668,-12.939297,-12.600714,-11.545612,-12.493475,-12.823478,-14.641914
0,-9.675480,-6.995944,-5.707676,-6.096131,-6.070808,-6.723475,-6.550885,-5.548075,-4.943044,-4.326761,...,-2.081320,-1.836444,-1.604642,-1.789083,-1.677481,-1.705114,-1.807966,-1.559730,-2.685780,-4.210053
0,-6.073242,-4.207675,-2.805888,-2.707181,-2.906892,-3.010300,-3.280135,-3.567852,-3.280135,-3.508764,...,-0.382645,-0.527908,0.000000,-0.052642,-0.132822,-0.297764,-0.833875,-0.647721,-1.095184,-2.423845
0,-2.925968,-1.221094,-0.042788,0.000000,-0.495588,-1.055102,-1.573418,-1.697511,-2.092596,-2.092596,...,-3.853509,-4.065402,-3.853509,-3.958163,-3.273589,-3.273589,-3.458423,-3.458423,-4.771213,-6.283889
0,-6.020600,-4.559320,-2.867896,-2.466723,-1.983677,-1.870866,-1.983677,-2.099495,-2.099495,-1.549020,...,-2.466723,-2.730013,-2.596373,-3.157533,-2.596373,-2.867896,-3.010300,-3.010300,-3.802112,-5.228787

In [10]:
d4.to_csv('/Users/niki/Documents/255_final_project/ESC-50-master/inputaudioFeatures.csv')

In [28]:
d4 = d4.reset_index(drop=True)

In [29]:
d4.head()

,0,1,2,3,4,5,6,7,8,9,...,206,207,208,209,210,211,212,213,214,215
0,-6.420233,-4.555912,-3.462575,-2.927575,-2.176928,-1.836130,-1.154972,-0.920161,-1.305426,-1.386757,...,-14.149733,-13.850101,-13.569814,-12.710668,-12.939297,-12.600714,-11.545612,-12.493475,-12.823478,-14.641914
1,-9.675480,-6.995944,-5.707676,-6.096131,-6.070808,-6.723475,-6.550885,-5.548075,-4.943044,-4.326761,...,-2.081320,-1.836444,-1.604642,-1.789083,-1.677481,-1.705114,-1.807966,-1.559730,-2.685780,-4.210053
2,-6.073242,-4.207675,-2.805888,-2.707181,-2.906892,-3.010300,-3.280135,-3.567852,-3.280135,-3.508764,...,-0.382645,-0.527908,0.000000,-0.052642,-0.132822,-0.297764,-0.833875,-0.647721,-1.095184,-2.423845
3,-2.925968,-1.221094,-0.042788,0.000000,-0.495588,-1.055102,-1.573418,-1.697511,-2.092596,-2.092596,...,-3.853509,-4.065402,-3.853509,-3.958163,-3.273589,-3.273589,-3.458423,-3.458423,-4.771213,-6.283889
4,-6.020600,-4.559320,-2.867896,-2.466723,-1.983677,-1.870866,-1.983677,-2.099495,-2.099495,-1.549020,...,-2.466723,-2.730013,-2.596373,-3.157533,-2.596373,-2.867896,-3.010300,-3.010300,-3.802112,-5.228787

In [30]:
#j = 0
new_audio = pd.DataFrame(audio_data.iloc[[0]])
audio_feature = pd.DataFrame(d4.iloc[[0]])

final_data = pd.concat([new_audio,audio_feature],axis=1)
final_data

,CLASS_NAME,X_AUDIO,Y_CLASS,audio_files,0,1,2,3,4,5,...,206,207,208,209,210,211,212,213,214,215
0,Airplane,1-11687-A.ogg,1,1-11687-A-47.wav,-6.420233,-4.555912,-3.462575,-2.927575,-2.176928,-1.83613,...,-14.149733,-13.850101,-13.569814,-12.710668,-12.939297,-12.600714,-11.545612,-12.493475,-12.823478,-14.641914

In [31]:
for j in range(1,len(audio_data)):
    new_audio1 = pd.DataFrame(audio_data.iloc[[j]])
    audio_feature1 = pd.DataFrame(d4.iloc[[j]])

    final_data1 = pd.concat([new_audio1,audio_feature1],axis=1)
    final_data = pd.concat([final_data , final_data1], axis=0)

In [33]:
final_data.head()

,CLASS_NAME,X_AUDIO,Y_CLASS,audio_files,0,1,2,3,4,5,...,206,207,208,209,210,211,212,213,214,215
0,Airplane,1-11687-A.ogg,1,1-11687-A-47.wav,-6.420233,-4.555912,-3.462575,-2.927575,-2.176928,-1.836130,...,-14.149733,-13.850101,-13.569814,-12.710668,-12.939297,-12.600714,-11.545612,-12.493475,-12.823478,-14.641914
1,Airplane,1-24796-A.ogg,1,1-24796-A-47.wav,-9.675480,-6.995944,-5.707676,-6.096131,-6.070808,-6.723475,...,-2.081320,-1.836444,-1.604642,-1.789083,-1.677481,-1.705114,-1.807966,-1.559730,-2.685780,-4.210053
2,Airplane,1-36929-A.ogg,1,1-36929-A-47.wav,-6.073242,-4.207675,-2.805888,-2.707181,-2.906892,-3.010300,...,-0.382645,-0.527908,0.000000,-0.052642,-0.132822,-0.297764,-0.833875,-0.647721,-1.095184,-2.423845
3,Airplane,1-43807-A.ogg,1,1-43807-A-47.wav,-2.925968,-1.221094,-0.042788,0.000000,-0.495588,-1.055102,...,-3.853509,-4.065402,-3.853509,-3.958163,-3.273589,-3.273589,-3.458423,-3.458423,-4.771213,-6.283889
4,Airplane,1-43807-B.ogg,1,1-43807-B-47.wav,-6.020600,-4.559320,-2.867896,-2.466723,-1.983677,-1.870866,...,-2.466723,-2.730013,-2.596373,-3.157533,-2.596373,-2.867896,-3.010300,-3.010300,-3.802112,-5.228787

In [34]:
final_data.to_csv('/Users/niki/Documents/255_final_project/ESC-50-master/entire_file.csv')